{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'aptman/style.css' %}">

<ul>
    {% for apt in apartment_list %}
        {% with apt.apt_id|stringformat:"s" as apt_id %}
            <li> <a href="{% url 'aptman:details' apt.apt_id %}"> {{ apt.apt_complex |add:": Apartment "|add:apt_id }} </a> </li>
        {% endwith %}
    {% endfor %}
    <li> <a href="{% url 'aptman:addapt' %}"> Add new apartment </a> </li>
    <li> <a href="{% url 'aptman:addtenant' %}"> Add new tenant </a> </li>
    <li> <a href ="{% url 'aptman:vacant-apartments' %}"> View vacant apartments </a> </li>
</ul>